.app {
  min-height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #c22ed0, #5ffae0);
}

.app h1 {
  padding: 5vh 0;
  font-size: 10vh;
  color: #0ff;
  text-decoration: underline;
  text-underline-offset: 1vh;
}
