.task-form {
  gap: 2vh;
  padding: 2vh;
  width: calc(50vw - 4vh);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #f2ecb6, #ae8ba1);
}

.task-form textarea {
  resize: none;
  font-size: 2vw;
  width: 100%;
}

.task-form button {
  font-size: 2vw;
}
