.task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 0 2vh;
  width: calc(100% - 4vh);
  height: 9vh;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #fea858, #ed765e);
}

.task p {
  width: 100%;
}

.task-content {
  color: #0f0;
}

.task-done {
  color: #f00;
  text-decoration: line-through;
}
