.task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 0.5vh 2vh;
  width: calc(100% - 4vh);
  min-height: 9vh;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #bfffc7, #849b5c);
}

.task-activity {
  opacity: 0.5;
}

.task p {
  width: 100%;
  word-break: break-all;
}

.task-content {
  color: #00f;
}

.task-done {
  color: #f00;
  text-decoration: line-through;
}
