*,
body {
  margin: 0;
  font-family: "Brush Script MT", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3vh;
  outline: none;
  font-weight: bold;
}

button {
  white-space: nowrap;
  border: none;
  border-radius: 15px;
  padding: 1vh;
  transform-style: preserve-3d;
  transition: transform 0.4s linear;

  background-image: linear-gradient(to bottom right, #fea858, #ed765e);
}

button:hover {
  transform: scale(1.2);
}
